.workspace{
  position: absolute;
left: 17.52%;
right: 71.14%;
top: 633px;
height: 100px;

font-family: K2D;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 40px;
/* or 333% */

display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}

.blocklyDiv {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60vh;
}